body {
  color: #fff;
  background: #000000;
  font: 100% arial;
  padding: 33px;
  text-shadow: 0 1px 3px #0f0, 0 -1px 3px #0f0, 1px 0 3px #0f0, -1px 0 3px #0f0;
  text-align: center;
}

#kazanc {
  position: fixed;
  bottom: 3px;
}
#soz {
  font: 100% arial;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
