body {
  color: #ccc;
  background: #000000;
  font: 100% arial;
  padding: 33px;
  text-shadow: 0 1px 0 #888, 0 -1px 0 #888, 1px 0 0 #888, -1px 0 0 #888;
}

#kazanc {
  position: fixed;
  bottom: 3px;
}
#soz {
  font: 200% arial;
}
